.question {
    font-size: 20px;
    text-align: center;
    padding-bottom: 25px;
}

.options {
    cursor: pointer;
    user-select: none;
    font-size: 0.8rem;
    align-items: center;
    height: 40px;
    margin: 5px auto;
    text-align: start;
    color: #fff;
    background: linear-gradient( 90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
    padding: 8px;
    border-radius: 5px;
    width: 400px;
}

.correct-option {
    cursor: pointer;
    user-select: none;
    font-size: 0.8rem;
    align-items: center;
    height: 40px;
    margin: 5px auto;
    text-align: start;
    color: #fff;
    background: linear-gradient( 90deg, rgb(20, 255, 145) 0%, rgba(20, 255, 145) 100%);
    padding: 8px;
    border-radius: 5px;
    width: 400px;
}

.wrong-option {
    cursor: pointer;
    user-select: none;
    font-size: 0.8rem;
    align-items: center;
    height: 40px;
    margin: 5px auto;
    text-align: start;
    color: #fff;
    background: linear-gradient( 90deg, rgba(240, 10, 6, 0.918) 0%, rgba(240, 10, 6, 0.918) 100%);
    padding: 8px;
    border-radius: 5px;
    width: 400px;
}